@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: rgb(224, 238, 247);
}

video{
    width: 300px;
    display: flex;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
   
}

.cabecalho-menu-item:hover{
    background-color: rgb(205, 209, 243);
}


.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'sarala' sans-serif;
    color: darkblue;
    font-size: 18px;
    font-weight: 400;

}

.rodape{
    padding: 32px;
    border-top: 4px solid rgb(19, 17, 175);
    
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin:0 auto ;
}

.rodape-what{
    width: 75px;
    border-radius: 31px;
}
