@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-color: rgb(224, 238, 247);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    
}

.cabecalho-imagem{
    height: 72px;
    
   
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    
}

.cabecalho-menu-item{
    font-family: 'sarala' sans-serif;
    color: darkblue;
    font-size: 18px;
    font-weight: 400;
    

}
h1{
    text-align: center;
    margin-bottom:  48px;
    border-top: 4px solid rgb(24, 14, 223); 
    font-family:'sarala' sans-serif;
    
}

p{
    text-align: center;
    font-size: 21px;
    font-family: 'sarala' sans-serif;
    color: rgb(16, 16, 17);
    font-size: 20px;
    font-weight: 400;

}

h2 {
  text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    
}
.primeira-foto{
    width: 1000px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 34px;
    
    
}

.cabecalho-menu-item:hover{
    background-color: rgb(205, 209, 243);
}


.rodape{
    padding: 32px;
    border-top: 4px solid rgb(19, 17, 175);
    
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin:0 auto ;
}

.rodape-what{
    width: 75px;
    border-radius: 31px;
}
